@import "mixins";
@import "src/styles/mixins";

ul.list-disc {
  li {
    position: relative;
    padding-left: 0.6rem;

    &::before {
      content: '•';
      position: absolute;
      top: 0;
      left: 0;
      font-size: 0.5em;
    }
  }
}

.block {

  &__1 {
    @include generateStyleByMaxBreakpoint("md") {
      flex-direction: column;

      li {
        width: 100% !important;
      }

      h1 {
        font-size: 2.25rem !important;
        line-height: 2.75rem;
        text-align: center;
      }

      h3 {
        font-size: 1.125rem !important;
        line-height: 1.625rem;
      }
    }

    @include generateStyleByMaxBreakpoint("sm") {
      flex-direction: column;

      &>li {
        padding: 20px 40px !important;
      }

      h1 {
        font-size: 1.5rem !important;
        line-height: 2.25rem;
        text-align: center;
      }

      h3 {
        font-size: 0.875rem !important;
        line-height: 1.375rem;
      }
    }
  }

  &__2 {
    ul {
      margin-top: -5.625rem;
    }

    @include generateStyleByMaxBreakpoint("md") {
      ul {
        top: 35px;
      }
    }

    @include generateStyleByMaxBreakpoint("sm") {
      margin-top: 0;

      ul {
        top: 0;
      }
    }

  }
}

.care-system {
  animation: fade-in-right 1s ease-in-out,
    twink 1s ease-in-out;
  max-width: 80rem;

  &__block {
    margin-top: 1.25rem;
    padding-bottom: 2.5rem;
    border-radius: 30px 30px 0 0;
    width: 100%;

    &__sub-block-1 {
      position: relative;
      max-width: 28.75rem;

      @include generateStyleByMaxBreakpoint("md") {
        max-width: 44.625rem;
      }

      @include generateStyleByMaxBreakpoint("sm") {
        max-width: 25.75rem
      }
    }

    &__sub-block-2 {
      position: relative;
      max-width: 34.5rem;

      @include generateStyleByMaxBreakpoint("md") {
        max-width: 44.625rem;
      }
    }

    &__question-block {
      background-repeat: no-repeat;
      background-size: contain;
      height: 0;
      padding-top: calc(400%/460 * 100);
      @include generateStyleByMaxBreakpoint("md") {
        padding-top: calc(420%/650 * 100);
      }
      @include generateStyleByMaxBreakpoint("sm") {
        padding-top: calc(334%/334 * 100);
      }
    }

    &__setting-block {

      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 0;
      padding-top: calc(422%/552 * 100);
      @include generateStyleByMaxBreakpoint("sm") {
        padding-top: calc(334%/334 * 100);
      }
    }
  }

  &__traning-people-block {
    @include generateStyleByMaxBreakpoint("md") {
      max-width: 48rem;
      width: 100%;
    }
  }

  &__traning-people {
    max-width: 18rem;
    width: 100%;
    height: 20.625rem;
    border-radius: 1.25rem;
    border: 1px solid map-get($primary-light, 3);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.08);

    @include generateStyleByMaxBreakpoint("md") {
      min-width: 20.875rem;
      height: 21rem;
    }

    @include generateStyleByMaxBreakpoint("sm") {
      min-width: 0rem;
      height: auto;
      padding-bottom: 2.5rem;
    }
  }

  &__circle-block {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.08);

    &__img {
      width: 2.75rem;
      height: 2.75rem;
    }
  }
}

.animation-bg-consultation_words {
  margin-top: 3.75rem;
  height: 8.125rem;
  background-image: url('~src/assets/product_pc/image_consultation_pc.png');
  background-repeat: repeat-x;
  @include generateStyleByMaxBreakpoint("md") {
    background-image: url('~src/assets/product_pad/image_consultation_pad.png');
    height: 4.125rem;
  }
}

.animation-bg-trining_words {
  margin-top: 3.75rem;
  height: 8.125rem;
  background-image: url('~src/assets/product_pc/image_training_pc.png');
  background-repeat: repeat-x;
  @include generateStyleByMaxBreakpoint("md") {
    background-image: url('~src/assets/product_pad/image_training_pad.png');
    height: 4.125rem;
  }
}

.icon {
  &__arrow::ng-deep {

    .component-arrow-right-icon,
    .component-arrow-drop-down-icon {
      width: 8.75rem;
      height: 8.75rem;

      &__path {
        fill: map-get($primary-light, 2)
      }
    }

    .component-arrow-drop-down-icon {
      margin-top: -3rem;
    }
  }

  &__question::ng-deep {

    .component-clinical-notes-solid-icon,
    .component-prescriptions-solid-icon,
    .component-psychology-alt-solid-icon,
    .component-blind-solid-icon {
      width: 5rem;
      height: 5rem;

      &__path {
        fill: map-get($primary-light, 2)
      }

      @include generateStyleByMaxBreakpoint("md") {
        width: 3.75rem;
        height: 3.75rem;
      }
    }
  }

  &__setting::ng-deep {

    .component-hub-solid-icon,
    .component-light-mode-solid-icon,
    .component-family-home-solid-icon {
      width: 2.75rem;
      height: 2.75rem;

      &__path {
        fill: map-get($primary-light, 2)
      }

      @include generateStyleByMaxBreakpoint("md") {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  &__people::ng-deep {

    .component-diversity-one-solid-icon,
    .component-diversity-four-solid-icon,
    .component-family-home-solid-icon,
    .component-diversity-two-solid-icon {
      width: 3rem;
      height: 3rem;

      &__path {
        fill: map-get($primary-light, 2)
      }
    }
  }
}