<section class="mb-10 mb-md-20">
  <app-cover-block
    class=""
    [imgUrl]="this.coverImg"
    title="照護服務"
    [contentInnerHtml]="
      '串聯關懷，完整服務：整合性方案，實現全方位無縫照護體驗。從照顧到管理，讓關懷更深入更全面'
    "
  >
  </app-cover-block>
</section>
<section class="mb-10 mb-md-20">
  <div class="block__2 position-relative">
    <div
      #consultationWords
      class="w-100 animation-bg-consultation_words d-sm-block d-none"
    ></div>
    <div class="block__afterImg">
      <app-after-img-word-block
        [data]="this.consultation_cards[0]"
      ></app-after-img-word-block>
    </div>
  </div>
</section>
<section class="mb-10 mb-md-20">
  <div class="d-flex flex-column text-center align-items-center">
    <div class="care-system w-100 mb-5 px-10">
      <div class="d-none d-sm-flex flex-column gap-5">
        <h2>照護系統</h2>
        <h3 class="text-secondary-1">CARE SYSTEM</h3>
        <h5 class="text-secondary-1 fw-normal">
          照護系統是一套以「人」為主軸的系統，期望隨著「人」的老化年齡及需求變化，在不同機構都可以了解被照護者的過去及現在狀況，評估未來可能發生風險，並可以讓後勤照護者及醫療團隊建立一套彼此溝通、紀錄照護／用藥的共通平台
        </h5>
      </div>
      <div class="d-flex d-sm-none flex-column gap-2_5">
        <h3>照護系統</h3>
        <h4 class="text-secondary-1">CARE SYSTEM</h4>
        <h6 class="text-secondary-1 fw-normal">
          照護系統是一套以「人」為主軸的系統，期望隨著「人」的老化年齡及需求變化，在不同機構都可以了解被照護者的過去及現在狀況，評估未來可能發生風險，並可以讓後勤照護者及醫療團隊建立一套彼此溝通、紀錄照護／用藥的共通平台
        </h6>
      </div>
    </div>
    <div
      class="d-flex flex-column flex-md-row care-system__block bg-primary-5 w-100 justify-content-center align-items-md-start align-items-center pt-15"
    >
      <div
        class="d-flex flex-column gap-2 care-system__block__sub-block-1 align-items-center ms-lg-20 gap-2 w-100"
      >
        <h3 class="text-primary-2 mb-5">現行長照機構問題</h3>
        <div class="mb-2_5">
          <h5 class="text-secondary-1 fw-normal">
            長輩的日常紀錄與醫療相關紀錄無法串連
          </h5>
          <h5 class="text-secondary-1 fw-normal">
            醫療團隊無法從日常狀況了解長輩身體狀況
          </h5>
        </div>
        <div
          class="care-system__block__question-block d-md-block d-none w-100"
          [style.backgroundImage]="
            'url(' + 'assets/product_pc/image_problem_pc.png' + ')'
          "
        ></div>
        <div
          class="care-system__block__question-block d-md-none d-sm-block d-none w-100"
          [style.backgroundImage]="
            'url(' + 'assets/product_pad/image_problem_pad.png ' + ')'
          "
        ></div>
        <div
          class="care-system__block__question-block d-block d-sm-none w-100"
          [style.backgroundImage]="
            'url(' + 'assets/product_mobile/image_problem_mobile.png ' + ')'
          "
        ></div>
      </div>
      <app-arrow-right-icon
        class="d-none d-md-flex align-self-center icon__arrow"
      ></app-arrow-right-icon>
      <app-arrow-drop-down-icon
        class="d-block d-md-none icon__arrow"
      ></app-arrow-drop-down-icon>
      <div
        class="d-flex flex-column gap-2 care-system__block__sub-block-2 align-items-center me-0 w-100"
      >
        <h3 class="text-primary-2 mb-5">智慧醫療照護平台設計理念</h3>
        <div
          class="care-system__block__setting-block d-md-block d-none w-100"
          [style.backgroundImage]="
            'url(' + 'assets/product_pc/image_concept_pc.png' + ')'
          "
        ></div>
        <div
          class="care-system__block__setting-block d-md-none d-sm-block d-none w-100"
          [style.backgroundImage]="
            'url(' + 'assets/product_pad/image_concept_pad.png ' + ')'
          "
        ></div>
        <div
          class="care-system__block__setting-block d-block d-sm-none w-100"
          [style.backgroundImage]="
            'url(' + 'assets/product_mobile/image_concept_mobile.png ' + ')'
          "
        ></div>
      </div>
    </div>
  </div>
</section>
<section class="mb-10 mb-md-20">
  <div class="block__2 position-relative">
    <div
      #traningWords
      class="w-100 animation-bg-trining_words d-sm-block d-none"
    ></div>
    <div class="block__afterImg">
      <app-after-img-word-block
        [data]="this.traning_cards[0]"
      ></app-after-img-word-block>
    </div>
  </div>
</section>
<section class="mb-10 mb-md-20 d-flex justify-content-center w-100">
  <div
    class="d-flex justify-content-center gap-5 py-md-16 pb-10 flex-sm-wrap flex-nowrap flex-column flex-sm-row align-items-center care-system__traning-people-block w-100"
  >
    <div
      *ngFor="let people of this.traning_people_list"
      class="d-flex flex-column care-system__traning-people bg-white align-items-center pt-10 gap-5"
    >
      <div
        class="care-system__circle-block bg-white d-flex justify-content-center align-items-center"
      >
        <div [ngSwitch]="people.img">
          <app-diversity-one-solid-icon
            class="icon__people"
            *ngSwitchCase="'app-diversity-one-solid-icon'"
          ></app-diversity-one-solid-icon>
          <app-diversity-four-solid-icon
            class="icon__people"
            *ngSwitchCase="'app-diversity-four-solid-icon'"
          >
          </app-diversity-four-solid-icon>
          <app-family-home-solid-icon
            class="icon__people"
            *ngSwitchCase="'app-family-home-solid-icon'"
          >
          </app-family-home-solid-icon>
          <app-diversity-two-solid-icon
            class="icon__people"
            *ngSwitchCase="'app-diversity-two-solid-icon'"
          >
          </app-diversity-two-solid-icon>
        </div>
        <!-- <img class="care-system__circle-block__img" src="{{ people.img }}" /> -->
      </div>
      <h4>{{ people.title }}</h4>
      <ul
        class="list-disc align-items-center d-flex flex-column px-2 text-center justify-content-center"
      >
        <li *ngFor="let content of people.contentList">
          <h6 class="fw-normal">{{ content }}</h6>
        </li>
      </ul>
    </div>
  </div>
</section>
