@import "mixins";

.component-footer {
  border-bottom-left-radius: 3rem;
  @media (min-width: 700px) {
    padding: 3.625rem 3.75rem 2.5rem;
  }

  @media (min-width: 1028px) {
    flex-direction: row !important;
    align-items: center !important;
    padding: 3.75rem 2.5rem;
  }

  &__logo-container {
    align-items: start !important;
    @media (min-width: 1028px) {
      margin-top: 0 !important;
    }
  }

  &__logo {
    width: 10.911rem;
    height: 3.125rem;
  }

  &__map {
    height: 15rem;
    width: 15rem;
    @media (min-width: 700px) {
      height: 17.75rem;
      width: 17.75rem;
    }
  }

  &__text-animation {
    animation: fade-in-right 1s ease-in-out, twink 1s ease-in-out;
    @media (min-width: 700px) {
      flex-direction: row !important;
      align-items: center !important;
    }
  }

  &__info {
    @media (min-width: 700px) {
      text-align: left !important;
      margin-right: 6.25rem !important;
    }
  }

  &__contact-us {
    @media (min-width: 700px) {
      margin-bottom: 2.5rem !important;
    }
  }

  &__text-container {
    @media (min-width: 700px) {
      justify-content: start !important;
    }
  }

  &__address {
    @media (min-width: 700px) {
      margin-bottom: 0 !important;
    }
  }
}

.divider-colored {
  height: 2px;
  background: linear-gradient(90deg, map-get($azure-light, 2) 0%, map-get($cyan-light, 2) 33.3%, map-get($green-light, 2) 66.6%, #FFFb9D 100%);
}
