@import "src/styles/mixins";

.main-title {
  &__illustration {
    top: 0.5rem;
    right: 0.5rem;

    @include generateStyleByBreakpoint("sm") {
      position: initial !important;
    }

    @include generateStyleByBreakpoint("md") {
      position: absolute !important;
      top: 1.5rem;
      right: 1.5rem;
    }
  }
}

.news-list {
  &__img-container {
    min-width: 6.25rem;
    min-height: 6.25rem;
    @include generateStyleByBreakpoint("sm") {
      min-width: 17.8125rem;
      min-height: 11.25rem;
    }
  }

  &__img {
    max-width: 6.25rem;
    max-height: 6.25rem;
    @include generateStyleByBreakpoint("sm") {
      max-width: 17.8125rem;
      max-height: 11.25rem;
    }
  }

  &__divider {
    height: 2px;
  }

  &__description {
    @include generateStyleByBreakpoint("sm") {
      display: -webkit-box !important;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
    }
  }

  &__description-mobile {
    height: 66px;
    width: 335px;
    @include generateStyleByMaxBreakpoint("sm") {
      display: -webkit-box !important;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }
}

.tabs {
  @media (min-width: 1100px) {
    display: flex !important;
    flex-direction: column !important;
  }
}
