@import "src/styles/mixins";

.about-us {
    &__left-side {
        z-index: 0;
        position: absolute;
    }

    &__right-side {
        padding-left: 23.9375rem;

        @include generateStyleByMaxBreakpoint("md") {
            padding-left: 2.5rem;
        }
    }

    &__company {
        animation: fade-in-right 1s ease-in-out,
    }

    &__solution {
        position: relative;
        height: 40rem;

        @include generateStyleByMaxBreakpoint("sm") {
            height: auto;
        }

        &__block {
            overflow: hidden;
            top: 8rem;
            border-radius: 30px 0px 0px 30px;
            position: absolute;

            @include generateStyleByMaxBreakpoint("sm") {
                position: relative;
                top: 0;
            }
        }

        &__img {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            min-width: 46.875rem;
            height: 31.25rem;
            will-change: transform, animation;
            animation: slideAnimation 30s infinite linear;

            @keyframes slideAnimation {
                0% {
                    transform: translateX(0);
                }

                100% {
                    transform: translateX(-200%);
                }
            }


            @include generateStyleByMaxBreakpoint("md") {
                min-width: 37.5rem;

            }

            @include generateStyleByMaxBreakpoint("sm") {
                position: relative;
                width: 100%;
                min-width: 0rem;
                height: 20.625rem;
                border-radius: 30px;
                animation: none;
            }

        }

        &__content {
            position: absolute;
            bottom: 0;
            max-width: 16.875rem;
            width: 100%;
            border-radius: 0px 30px 0px 0px;
            background: rgba(16, 16, 16, 0.40);

            @include generateStyleByMaxBreakpoint("sm") {
                border-radius: 0px 30px 30px 30px;

            }


        }
    }

    &__logo {
        max-width: 10.5rem;
        height: 100%;
        width:100%;
        @include generateStyleByMaxBreakpoint("sm") {
            max-width: 8.125rem;
        }
    }
}

.main-title {
    &__illustration {
        top: 0.5rem;
        right: 0.5rem;

        @include generateStyleByBreakpoint("sm") {
            position: initial !important;
        }

        @include generateStyleByBreakpoint("md") {
            position: absolute !important;
            top: 1.5rem;
            right: 1.5rem;
        }
    }
}