  <ul class="d-flex border-secondary-1">
    <li *ngFor="let tab of this.tabs;let index = index">
      <input type="radio" class="d-none" (change)="this.change(tab)" [value]="tab.value" [id]="index"
        [checked]="tab.value === this.currentTab" name="product-tabset">
      <label [for]="index" class="py-6 mx-7_5 cursor-pointer position-relative">
        <p class="text-black-2">{{tab.title}}</p>
        <app-arrow-drop-up-icon class="position-absolute"
          *ngIf="tab.value === this.currentTab"></app-arrow-drop-up-icon>
      </label>
    </li>
  </ul>
