@import"colors";
@import"variables";

:host {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: map-get($black-light, 9);
  border: 1px solid map-get($black-light, 4);
}

input[type="radio"] {
  &:checked {
    &+label {
      p {
        color: map-get($primary-light , 2) !important;
      }
    }
  }
}

::ng-deep app-arrow-drop-up-icon {
  position: absolute;
  z-index: map-get($layer-level, 'normal');
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);

  &__path {
    fill: map-get($primary-light , 2)
  }
}
