<section>
  <section class="row main-title d-flex flex-column-reverse flex-md-row">
    <img src="assets/img/iStock/iStock-1717950594.jpg" alt="news-main-img" class="col-12 col-md-8 pe-0">
    <div class="position-relative col-12 col-md-4 p-10 d-flex flex-md-column justify-content-center bg-black-9">
      <div>
        <h1 class="mb-2_5">最新消息</h1>
        <p>在這裡，您將隨時了解到我們的最新消息和動態，保持與我們的業務合作夥伴的緊密聯緊。掌握最新，保持競爭力！</p>
      </div>

      <img
        class="main-title__illustration position-absolute"
        src="assets/img/illustration/molecular_chain_a.svg" alt="illustration-chain-a">
    </div>
  </section>

  <section class="d-flex flex-column flex-md-row px-30 py-25 news-list">
    <aside class="d-none d-md-flex flex-md-column">
      <h4 class="mb-4">分類</h4>
      <app-tab-list [tabs]="tabs" [focusTabIndex]="0"></app-tab-list>
    </aside>
    <section class="w-100">
      <h2 class="mb-6">全部最新消息</h2>
      <ul>
        <li *ngFor="let news of newsList;let i = index">
          <div class="d-flex">
            <div class="news-list__img-container d-flex justify-content-center align-items-center me-4">
              <img
                [src]="news.image ? news.image : 'assets/img/news/image_default_s_pc.png'" alt="news_{{i}}"
                class="border-radius-xl news-list__img">
            </div>
            <div>
              <p>{{news.date}}</p>
              <h4 class="my-2">{{news.title}}</h4>
              <p class="font-sm overflow-hidden news-list__description">{{news.description}}</p>
            </div>
          </div>
          <hr
            *ngIf="i !== newsList.length - 1"
            class="w-100 border-0 bg-black-4 opacity-100 my-6 news-list__divider">
        </li>
      </ul>
    </section>
  </section>
</section>
