@import "mixins";

.main-title {
  &__illustration {
    top: 0.5rem;
    right: 0.5rem;

    @include generateStyleByBreakpoint("sm") {
      position: initial !important;
    }

    @include generateStyleByBreakpoint("md") {
      position: absolute !important;
      top: 1.5rem;
      right: 1.5rem;
    }
  }
}
