@import "mixins";

.main-title {
  &__illustration {
    top: 0.5rem;
    right: 0.5rem;

    @include generateStyleByBreakpoint("sm") {
      position: initial !important;
    }

    @include generateStyleByBreakpoint("md") {
      position: absolute !important;
      top: 1.5rem;
      right: 1.5rem;
    }
  }
}

.news-list {
  &__img-container {
    min-width: 17.8125rem;
    min-height: 11.25rem;
  }

  &__img {
    max-width: 17.8125rem;
    max-height: 11.25rem;
  }

  &__divider {
    height: 2px;
  }

  &__description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
}
