<div class="position-relative component-product-card cursor-pointer">
  <span class="d-block component-product-card__spacing"></span>

  <img [src]="getImg(type)" alt="product-card-{{type}}-img"
       class="border-radius-xl component-product-card__img position-absolute top-0 layer-cover">

  <div
    class="component-product-card__content bg-white border-radius-xl px-3_5 pb-5 overflow-hidden position-relative d-flex flex-column justify-content-between"
    [ngClass]="getPseudoClass()">
    <div class="d-flex flex-column align-items-center mt-45 mb-md-20 position-relative layer-cover">
      <p class="font-xl text-black-1 mb-2 component-product-card__text-animation"
         [ngSwitch]="type">
        <ng-container *ngSwitchCase="'healthcare'">照護服務</ng-container>
        <ng-container *ngSwitchCase="'pill'">藥品管理</ng-container>
        <ng-container *ngSwitchCase="'dns'">叫號系統</ng-container>
        <ng-container *ngSwitchCase="'backup'">雲端儲存</ng-container>
      </p>
      <p class="font-sm text-black-2 text-sm-center text-md-start component-product-card__text-animation"
         [ngSwitch]="type">
        <ng-container *ngSwitchCase="'healthcare'">以「人」為主軸的系統，評估未來可能發生風險，與後勤照護者及器療團隊建立一套彼此溝通、紀缺照護、用藥的共通乎台</ng-container>
        <ng-container *ngSwitchCase="'pill'">系統從藥品進入庫存到最終病人使用，全程都有追蹤機制，還可以與院內其他系統整合，提高工作效率，隆低人力成本</ng-container>
        <ng-container *ngSwitchCase="'dns'">廣泛應用於醫院掛號批價櫃檯、檢驗室、藥局領藥政府機關及銀行的服務叫號等不同場景</ng-container>
        <ng-container *ngSwitchCase="'backup'">以「人」為主軸的系統，評估末來可能發生風險，與後勤照護者及醫療團隊建立一套彼此溝通、紀錄照護、用藥的共通平台</ng-container>
      </p>
    </div>

    <div class="d-flex d-md-block justify-content-center align-items-center">
      <button
        type="button"
        class="component-product-card__button position-relative layer-cover"
        [ngSwitch]="type">
        <app-healthcare-icon *ngSwitchCase="'healthcare'"
                             class="component-product-card__icon d-flex"></app-healthcare-icon>
        <app-pill-icon *ngSwitchCase="'pill'" class="component-product-card__icon d-flex"></app-pill-icon>
        <app-dns-icon *ngSwitchCase="'dns'" class="component-product-card__icon d-flex"></app-dns-icon>
        <app-backup-icon *ngSwitchCase="'backup'" class="component-product-card__icon d-flex"></app-backup-icon>
      </button>
    </div>
  </div>
</div>
