@import "colors";
@import "mixins";

.block {
  &__1 {
    padding: 0 40px;
    margin-bottom: 70px;
    @include generateStyleByMaxBreakpoint("md") {
      flex-direction: column;
      li {
        width: 100% !important;
      }
      h2 {
        font-size: 2.25rem !important;
        line-height: 2.75rem;
        text-align: center;
      }
      h5 {
        font-size: 1.125rem !important;
        line-height: 1.625rem;
        margin-bottom: 20px;
      }
    }
    @include generateStyleByMaxBreakpoint("sm") {
      flex-direction: column;
      & > li {
        padding: 20px 40px !important;
      }
      h2 {
        font-size: 1.5rem !important;
        line-height: 2.25rem;
        text-align: center;
      }
      h5 {
        font-size: 0.875rem !important;
        line-height: 1.375rem;
        margin-bottom: 20px;
      }
    }
  }
  &__2 {
    padding: 0 40px;
    @include generateStyleByMaxBreakpoint("md") {
      padding: 0 20px;
    }
  }
  &__3 {
    padding-top: 60px;
    width: 100%;
    height: 670px;
    background-color: map-get($black-light, 9 );
    @include generateStyleByMaxBreakpoint("md") {
      height: 500px;
    }
    @include generateStyleByMaxBreakpoint("sm") {
      height: 340px;
      h2 {
        font-size: 1.5rem !important;
        font-weight: 500 !important;
      }
      h4 {
        text-align: center;
        font-size: 1rem !important;
        font-weight: 400 !important;
      }
    }
    h4 {
      padding: 0 20px;
      font-weight: 400 !important;
      color: map-get($secondary-light, 1 )
    }
    .img {
      top: 100px;
      left: 50%;
      transform: translateX(-50%);
      width: 1000px;
      height: 717px;
      background-size: contain;
      background-image: url('~src/assets/product_pc/photo_cloud_pc.png');
      background-color: unset;
      @include generateStyleByMaxBreakpoint("md") {
        top: 170px;
        height: 398px;
        width: 600px;
        background-image: url('~src/assets/product_pad/photo_cloud_pad.png');
      }
      @include generateStyleByMaxBreakpoint("sm") {
        height: 200px;
        background-image: url('~src/assets/product_mobile/photo_cloud_mobile.png');
      }
    }
  }
}

app-icon-card {
  width: calc(25% - 20px);
  margin: 10px;
  @include generateStyleByMaxBreakpoint("md") {
    width: calc(50% - 20px);
  }
  @include generateStyleByMaxBreakpoint("sm") {
    width: calc(100% - 20px);
  }
}

.animation-bg-words {
  background-image: url('~src/assets/product_pc/image_features_pc.png');
  @include generateStyleByMaxBreakpoint("md") {
    background-image: url('~src/assets/product_pad/image_features_pad.png');
  }
}
