$primary-light: (
  // highlight
  1: #1b76ff,
  // active
  2: #1091da,
  // 主色
  3: #43b1ef,
  // hover
  4: #7dcffd,
  // bg hover
  5: #d9f1fe
);

$secondary-light: (
  // 內容文字
  1: #4b4b4b
);

$black-light: (
  // title
  1: #101010,
  // 內容文字
  2: #4b4b4b,
  // hover
  3: #848484,
  // loading , hover text
  4: #cccccc,
  // active bg
  5: #e8e8e8,
  // btn-hover
  6: #f6f6f6,
  // bg-hover
  7: #f3f0eb,
  // btn-active
  8: #f4eee5,
  // bg
  9: #f7f5f2
);

$azure-light: (
  1: #608ee8,
  2: #a3bcec,
);

$cyan-light: (
  1: #08b9ae,
  2: #b0f1ed,
);
$green-light: (
  1: #99c028,
  2: #ddf2a0,
);

$light-theme: (
  "primary": $primary-light,
  "secondary": $secondary-light,
  "black": $grey-light,
  "azure": $azure-light,
  "cyan": $cyan-light,
  "green": $green-light,
);

$opacity-code: 5, 10, 11, 15, 20, 25, 30, 40, 50, 70, 85;
