@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(//fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap);

@font-face {
  font-family: "g5-customize";
  src: local("Noto Sans TC"), local("PingFang SC"), local("Microsoft YaHei");
  unicode-range: U+4E00-9FFF;
}

@font-face {
  font-family: "g5-customize";
  src: local("Noto Sans"), local("SF pro");
  unicode-range: U+00-024F;
}
