// 全局設定

* {
  padding: 0;
  margin: 0;
  transition: 0.25s;
  word-break: break-all;
  line-height: 1.5em !important;
  [data-required]:empty:before {
    content: "-";
  }
  [data-static] {
    transition: 0s !important;
  }
  &:disabled {
    cursor: not-allowed !important;
  }
}

fieldset {
  cursor: pointer;
}

ul,
ol {
  list-style-position: inside;
}

ol {
  list-style-type: decimal;
}

//擋掉原本chrome內建的date picker
input::-webkit-calendar-picker-indicator {
  display: none;
}

html {
  font-size: 16px; //1rem
  @include generateThemeColor($light-theme);
}

body {
  padding: 0;
  margin: 0;
  overflow-anchor: none;
  overflow: hidden;
  font-family: "g5-customize" !important;
  color: map-get($secondary-light, "main");
  background-color: white;
  #root {
    overflow: hidden;
  }
}

input {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
  }
  &[type="number"] {
    -moz-appearance: textfield;
  }
}

// @include generateStyleByBreakpoint("lg") {
//     html {
//         font-size: 20px;
//     }
// }

// @include generateStyleByBreakpoint("xl") {
//     html {
//         font-size: 28px;
//     }
// }

@include generateBaseStyle();

@each $level in map-keys($grid-breakpoints) {
  @include generateStyleByBreakpoint($level) {
    main {
      box-sizing: content-box;
      max-width: getContainerWidth($level);
      margin: 0 auto;
    }
    @include generateBaseStyle($level);
  }
}
