@import "mixins";

.component-menu {
  max-height: 100vh;
  &__container {
    @include generateStyleByBreakpoint("sm") {
      max-width: 100vw;
      width: 33.75rem !important;
      right: 0;
    }
  }

  &__divider {
    height: 2px;
  }

  &__icon::ng-deep {
    .component-menu-icon,
    .component-close-icon {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 1.25rem;

      @include generateStyleByBreakpoint("sm") {
        width: 2.25rem;
        height: 2.25rem;
        margin-right: 2.5rem;
      }
    }
  }

  &__map {
    height: 16.146rem;
    width: 16.146rem;
    @include generateStyleByBreakpoint("sm") {
      height: 10rem;
      width: 10rem;
    }
  }
}
