@import "src/styles/colors";
@import "src/styles/mixins";

.video-container {
  &__gradient-bg {
    background: linear-gradient(180deg, map-get($azure-light, 2) 0%, map-get($cyan-light, 2) 33.3%, map-get($green-light, 2) 66.6%, #FFFb9D 100%);
    height: 570px;
    @include generateStyleByBreakpoint("sm") {
      height: 742px;
    }
  }

  &__syntron-text {
    min-width: 60px;
    writing-mode: vertical-lr;
  }

  &__video {
    padding-right: 0;
    @include generateStyleByBreakpoint("sm") {
      border-top-left-radius: 3rem;
      border-bottom-left-radius: 3rem;
    }
  }

  &__title {
    top: 323px;
    left: 56px;
    max-width: 300px;
    @include generateStyleByBreakpoint("sm") {
      top: 466px;
      left: 60px;
      max-width: 370px;
    }
  }
}

.news {
  height: 400px;

  &__title {
    animation: fade-in-right 1s ease-in-out, twink 1s ease-in-out;
    @include generateStyleByMaxBreakpoint("md") {
      display: none !important;
    }
  }

  &__view-all-button::ng-deep {
    &:hover {
      .component-arrow-forward-icon__path {
        fill: map-get($primary-light, 4);
      }
    }

    &:active {
      .component-arrow-forward-icon__path {
        fill: map-get($primary-light, 2);
      }
    }
  }

  &__view-all-arrow-forward-icon::ng-deep {
    .component-arrow-forward-icon {
      height: 1.375rem;
      width: 1.375rem;

      &__path {
        fill: map-get($primary-light, 3);
      }
    }
  }
}

.news-list {
  min-width: 65%;
  animation: fade-in-right 1s ease-in-out, twink 1s ease-in-out;
  @include generateStyleByMaxBreakpoint("md") {
    width: 100%;
  }

  &__content {
    height: 6rem;
    @media (min-width: 600px) {
      height: 3.125rem;
    }

    &:hover::ng-deep {
      .news-list__date, .news-list__title {
        color: map-get($primary-light, 4) !important;
      }

      .component-arrow-forward-icon__path {
        fill: map-get($primary-light, 4);
      }
    }

    &:active::ng-deep {
      .news-list__date, .news-list__title {
        color: map-get($primary-light, 2) !important;
      }

      .component-arrow-forward-icon__path {
        fill: map-get($primary-light, 2);
      }
    }
  }

  &__divider-horizontal {
    width: 6.25rem;
    height: 2px;
  }

  &__arrow-forward-button::ng-deep {
    height: 2.25rem;
    width: 2.25rem;

    .component-arrow-forward-icon {
      height: 1.875rem;
      width: 1.875rem;
    }
  }

  &__news-date {
    @media (min-width: 600px) {
      flex-direction: row !important;
      align-items: center !important;
    }
  }
}

.product {
  &__img {
    width: 300rem;
    height: 11.44rem;
    background-image: url(../../../../../assets/img/homepage_pc/image_product_pc.png);
    background-repeat: space;
    z-index: -1;
    @include generateStyleByMaxBreakpoint("md") {
      background-image: url(../../../../../assets/img/homepage_pad/image_product_pad.png);
    }
    @include generateStyleByMaxBreakpoint("sm") {
      display: none;
    }
  }

  &__titles {
    height: 11.44rem;
    animation: fade-in-right 1s ease-in-out, twink 1s ease-in-out;
  }

  &__gradient-bg {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%),
    linear-gradient(90deg, map-get($azure-light, 2) 0%, map-get($cyan-light, 2) 33.3%, map-get($green-light, 2) 66.6%, #FFFb9D 100%);
  }

  &__cards {
    transform: translateY(-6rem);
  }

  &__card {
    width: 100%;
    @media (min-width: 755px) {
      width: 50%;
    }
    @media (min-width: 1380px) {
      width: 25%;
    }
  }
}

.exclusive {
  &__img {
    width: 500rem;
    height: 11.69rem;
    background-image: url(../../../../../assets/img/homepage_pc/image_exclusive_pc.png);
    background-repeat: space;
    z-index: -1;
    @include generateStyleByMaxBreakpoint("md") {
      background-image: url(../../../../../assets/img/homepage_pad/image_exclusive_pad.png);
    }
    @include generateStyleByMaxBreakpoint("sm") {
      display: none;
    }
  }

  &__content {
    @include generateStyleByBreakpoint("md") {
      background-color: map-get($black-light, 9);
    }
  }

  &__illustration {
    top: -3rem;
    right: -1.5rem;
    @include generateStyleByBreakpoint("md") {
      right: -3.5rem;
    }
  }

  &__img-animation {
    animation: fade-in-left-top 1s ease-in-out, twink 1s ease-in-out;
  }

  &__text-animation {
    animation: fade-in-right 1s ease-in-out, twink 1s ease-in-out;
  }
}

.successful-case {
  @include generateStyleByBreakpoint("sm") {
    background-color: map-get($black-light, 9);
    &__playing-animation {
      animation: infinite successful-case-animation linear 95s;
    }

    &__playing-animation-reverse {
      animation: infinite successful-case-animation-reverse linear 95s;
    }
  }

  &__illustration {
    height: 5rem;
    top: 1rem;
    left: 30%;
  }

  &__text-animation {
    animation: fade-in-right 1s ease-in-out, twink 1s ease-in-out;
  }
}

.divider-colored {
  height: 2px;
  background: linear-gradient(90deg, map-get($azure-light, 2) 0%, map-get($cyan-light, 2) 33.3%, map-get($green-light, 2) 66.6%, #FFFb9D 100%);
}


@keyframes fade-in-left-top {
  from {
    transform: translate(-100%, -100%);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes successful-case-animation {
  from {
    transform: translate(0, 2.5rem);
  }
  to {
    transform: translate(-4730px, 2.5rem);
  }
}

@keyframes successful-case-animation-reverse {
  from {
    transform: translate(-150px, 2.5rem);
  }
  to {
    transform: translate(-4880px, 2.5rem);
  }
}

video::-webkit-media-controls-start-playback-button {
  display: none;
}
