<section [class.component-header-spacing]="!isHomePage" #tHeader>
  <app-header></app-header>
  <app-breadcrumb></app-breadcrumb>
  <app-tab-set
    *ngIf="isProductModule"
    (onTabChange)="this.router.navigateByUrl($event.value)"
    class="layer-normal"
  ></app-tab-set>
</section>
<main
  #tContainer
  appResponsiveViewport
  [responseBuffers]="[tHeader]"
  class="container overflow-y-auto overflow-x-hidden px-0"
  id="main"
  (scroll)="this.onMainScroll($event)"
>
  <router-outlet> </router-outlet>
  <app-footer></app-footer>
</main>
