@import "mixins";

.component-header {
  height: 5.625rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 3rem;

  @include generateStyleByMaxBreakpoint("sm") {
    height: 3.125rem;
    border-bottom-left-radius: 2rem;
  }

  &__container {
    width: 100%;
    max-width: calc(9.375rem + 21.719rem + 34.295rem);
  }
}

.menu {
  &__buttons {
    display: flex;
    @include generateStyleByMaxBreakpoint("md") {
      display: none;
    }
  }
}


