<header
  class="component-header bg-white position-absolute top-0 start-0 end-0 z-3 bg-azure"
>
  <div
    class="h-100 d-flex justify-content-between align-items-center w-100 component-header__container"
  >
    <app-main-logo class="h-100"></app-main-logo>
    <div class="d-flex">
      <ul class="h-100 align-items-center d-none d-md-flex">
        <li>
          <app-borderless-button
            [isFocus]="getIsFocus('/news-center/news')"
            (click)="navigate(['news-center'])">最新消息
          </app-borderless-button>
        </li>
        <li>
          <app-borderless-button>產品介紹</app-borderless-button>
        </li>
        <li>
          <app-borderless-button>關於SYNTRON</app-borderless-button>
        </li>
        <li>
          <app-borderless-button>聯絡我們</app-borderless-button>
        </li>
      </ul>

      <app-menu-icon
        class="d-flex d-md-none cursor-pointer component-header__icon"
        *ngIf="!isMenuOpen"
        (click)="isMenuOpen = true"
      ></app-menu-icon>
      <app-close-icon
        class="d-flex d-md-none cursor-pointer component-header__icon"
        *ngIf="isMenuOpen"
        (click)="isMenuOpen = false"
      ></app-close-icon>
    </div>
  </div>
</header>

<app-menu
  *ngIf="isMenuOpen"
  (navigate)="navigate($event)"
  class="d-md-none position-absolute"></app-menu>
