@import "colors";

.component-product-card {
  width: fit-content;
  transform: translateX(100px);

  &:hover {
    .component-product-card__text-animation {
      color: white !important;
    }

    .component-product-card__content {
      &:before {
        transform: translate(-50%, -50%) scale(6.5);
        transition: transform 0.3s ease-in-out;
      }

      &:after {
        transform: translate(-50%, -50%) scale(6.5);
        transition: transform 0.3s ease-in-out;
        transition-delay: 0.3s;
      }
    }

    .component-product-card__button {
      &:before {
        transform: translate(-50%, -50%) scale(1);
        transition: transform 0.3s ease-in-out;
        transition-delay: 0.6s;
      }
    }
  }

  &__spacing {
    height: 1rem;
    width: 18.625rem;
  }

  &__content {
    width: 18.625rem;
    min-height: 10rem;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);

    &::before,
    &::after {
      content: "";
      width: 8.125rem;
      height: 8.125rem;
      transform: translate(-22%, 13%) scale(0);
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 100%;
    }
  }

  &__img {
    width: 17.125rem;
    left: 0.875rem;
  }

  &__button {
    &::before {
      content: "";
      width: 8.125rem;
      height: 8.125rem;
      transform: translate(-50%, -50%) scale(0);
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 100%;
      background-color: white;
    }
  }

  &__icon::ng-deep {
    position: inherit;

    .component-healthcare-icon {
      width: 2.75rem;
      height: 2.75rem;

      &__path {
        fill: map-get($black-light, 2);
      }
    }
  }
}
