@import "mixins";

.component-menu-main-button {
  height: 3.125rem;
  width: 100%;

  @include generateStyleByBreakpoint("sm") {
    font-size: 1rem !important;
    width: 30rem;
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    @include generateStyleByBreakpoint("sm") {
      width: 2.25rem;
      height: 2.25rem;
    }
  }
}
