@import "colors";

.component-news {
  &__list {
    max-width: calc(100% - 70px);
    width: max-content;
    max-height: 2.5rem;

    // TODO remove
    background-color: #61627922;
  }

  &__playing-animation {
    animation: infinite news-fade-out 15s linear;
  }

  &__divider-colored {
    height: 2px;
    background: linear-gradient(90deg, map-get($azure-light, 2) 0%, map-get($cyan-light, 2) 16.5%, map-get($green-light, 2) 33%, #FFFb9D 50%, map-get($black-light, 4) 50.1%, map-get($black-light, 4) 100%);
  }

  &__title {
    margin-right: 3rem;
  }

  &__icon {
    right: 0;
  }
}

@keyframes news-fade-out {
  0% {
    transform: translateY(0%);
  }
  32% {
    transform: translateY(0%);
  }
  33% {
    transform: translateY(-32px);
  }
  65% {
    transform: translateY(-32px);
  }
  66% {
    transform: translateY(-64px);
  }
  99% {
    transform: translateY(-64px);
  }
  100% {
    transform: translateY(0%);
  }
}

