@import "src/styles/colors";
@import "src/styles/mixins";

.component-news {
  &__round-out {
    height: 2rem;
    width: 2rem;
    left: -2rem;
  }

  &__tab {
    max-width: calc(100vw - 4.375rem);
    width: 37rem;
    max-height: 3rem;
    border-top-left-radius: 1rem;
    @include generateStyleByMaxBreakpoint("sm") {
      max-width: calc(100vw - 1.5rem);
    }
  }

  &__content {
    animation: playing-news 15s linear infinite, fade-out 5s linear 4.8s infinite;
    height: 3rem;

    &:hover::ng-deep {
      .component-arrow-forward-icon__path {
        fill: map-get($primary-light, 4);
      }
      .component-news__content-title {
        color: map-get($primary-light, 4) !important;
      }
    }

    &:active::ng-deep {
      .component-arrow-forward-icon__path {
        fill: map-get($primary-light, 2);
      }
      .component-news__content-title {
        color: map-get($primary-light, 2) !important;
      }
    }
  }

  &__divider-colored {
    height: 2px;
    background: linear-gradient(90deg, map-get($azure-light, 2) 0%, map-get($cyan-light, 2) 16.5%, map-get($green-light, 2) 33%, #FFFb9D 50%, map-get($black-light, 4) 50.1%, map-get($black-light, 4) 100%);
  }
}

@keyframes playing-news {
  0% {
    transform: translateY(0%);
  }
  32% {
    transform: translateY(0%);
  }
  33% {
    transform: translateY(-3rem);
  }
  65% {
    transform: translateY(-3rem);
  }
  66% {
    transform: translateY(-6rem);
  }
  99% {
    transform: translateY(-6rem);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 0.2;
  }
  2% {
    opacity: 0.2;
  }
  3% {
    opacity: 1;
  }
}

