@import "mixins";

.component-main-logo {
  width: 6.562rem;
  padding: 0.625rem 0;
  margin-left: 2.5rem;

  @include generateStyleByBreakpoint("sm") {
    padding: 1.5rem 0;
    width: 8.75rem;
  }

  @include generateStyleByBreakpoint("md") {
    width: 9.375rem;
  }
}
